body {
    background-color: white;
}
header {
background-color: #33658a;
    color: #f6ae2d;
}
.home-title {
    color: #f6ae2d;
}
nav a:hover {
    background-color: #f6ae2d;
    color: #2f4858;
    text-decoration: underline;
}
.book, .join {
    background-color: #2f4858;
    color: #f6ae2d;
    text-decoration: none;
}
.book:hover , .join:hover {
    background-color: #f6ae2d;
    color: #2f4858;
    text-decoration: underline;
}
main h2 {
    color: #f6ae2d;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    background-color: #33658a;
    color: #f6ae2d;
    text-align: center;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.msg {
    background-color: #2f4858;
    color: #f6ae2d;
}
.msg h2 {
    color: #f6ae2d;
}
.msg p {
    color: #f6ae2d;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #33658a;
}
footer {
    background-color: #33658a;
    color: #f6ae2d;
}
footer h3 {
    color: #f6ae2d;
}

footer a {
    color: #f6ae2d;
    text-decoration: none;
}
footer h3 a:hover {
    background-color: #f6ae2d;
    color: #33658a;
    text-decoration: underline;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
    margin-bottom: 20px;
}
#hero-img {
    width: 100%;
}